<aside>
    <h3><?=__('Postulaciones');?></h3>
    <ul>
        <li><a href="#" title="Ir a...">> Nueva</a></li>
        <li><a href="#" title="Ir a...">> En Curso</a></li>
        <li><a href="#" title="Ir a...">> Anteriores</a></li>
    </ul>
</aside>