<p><?=__('Señor(a) ');?><b><?=$username;?>:</b></p>
<p>Para continuar con el proceso de recuperación debe hacer click en el siguiente enlace:</p>
<?php
    $link = 'http://'.$_SERVER['SERVER_NAME'].__('/admin/cambiar-contrasena/').$token;
    echo $this->Html->link($link,$link,['title' => 'Ir a']);
?>