@font-face {
  font-family: AzoSans;
  src: url("/font/AzoSans-Regular.otf") format("opentype"); }
@font-face {
  font-family: AzoSans;
  font-weight: bold;
  src: url("/font/AzoSans-Bold.otf") format("opentype"); }
.container {
  background: #EDEFEA;
  overflow: hidden;
  padding: 17px 0px; }

.txt-right {
  text-align: right; }

.txt-center {
  text-align: center; }

.nomargin {
  margin: 0; }

.nopadding {
  padding: 0 !important; }

.noborder {
  border: none !important; }

.marginBot {
  margin-bottom: 25px; }

.margintop {
  margin-top: 25px; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

html {
  font-family: 'AzoSans', serif;
  background: url("/img/background.png") repeat left top; }

body {
  width: 920px;
  position: relative;
  background: #FFF;
  margin: 0;
  padding: 10px 15px 105px;
  left: 50%;
  top: 30px;
  margin: 0 0 80px -460px;
  box-shadow: 0 10px 16px #838383; }
  body header {
    color: #6c6c6e;
    position: relative;
    height: 150px; }
    body header .logo {
      padding: 0 0 0 15px;
      margin-top: 14px;
      vertical-align: text-bottom; }
    body header .tit-page {
      display: inline-block;
      font-weight: normal;
      text-align: center;
      padding: 0 10px;
      font-size: 30px;
      vertical-align: text-bottom;
      width: 590px; }
    body header .line-block {
      border-right: 2px dotted #CCCEC9;
      height: 93px;
      left: 145px;
      position: absolute;
      top: 60px;
      width: 3px; }
    body header nav {
      font-family: 'BioRhyme', serif;
      display: inline-block;
      width: 150px;
      height: 100%;
      padding: 0 0 0 30px;
      vertical-align: top;
      border-left: 2px dotted #CCCEC9; }
      body header nav h2 {
        font-weight: normal;
        font-size: 16px;
        line-height: 16px;
        margin-top: 74px; }
      body header nav ul {
        font-size: 11px; }
        body header nav ul li {
          line-height: 14px; }
          body header nav ul li a {
            color: #6c6c6e;
            text-decoration: none; }
            body header nav ul li a:hover {
              color: #A8237F; }
    body header .header-top {
      position: absolute;
      height: 186px;
      top: -16px; }
  body .iconsTop {
    height: 80px;
    background: url(/img/banner-top.png) no-repeat right top;
    margin-top: 20px; }
    body .iconsTop img {
      margin-top: 10px;
      left: 50%;
      margin-left: -182px;
      position: relative; }
    body .iconsTop a {
      float: right;
      position: relative;
      top: 18px;
      right: 80px;
      color: #6c6c6e; }
      body .iconsTop a:hover {
        color: #A8237F; }
  body .breadcrumb {
    position: relative;
    font-size: 12px;
    color: #676767;
    top: -15px;
    padding: 0 0 0 24px; }
    body .breadcrumb a {
      color: #676767;
      text-decoration: none; }
      body .breadcrumb a.active:hover {
        color: #A8237F;
        text-decoration: underline; }
  body .content {
    font-family: 'BioRhyme', serif;
    position: relative;
    padding: 0 24px 0 200px;
    color: #676767; }
    body .content aside {
      padding: 10px 0 10px 25px;
      background: #DDE5DA;
      width: 148px;
      position: absolute;
      left: 0;
      top: 0;
      line-height: 16px;
      border: 2px dotted #CACFC9;
      border-left: 0px; }
      body .content aside h3 {
        font-size: 16px;
        margin: 0 0 5px 0; }
      body .content aside ul {
        padding: 0 0 0 8px; }
        body .content aside ul li {
          font-size: 14px; }
          body .content aside ul li a {
            color: #676767;
            text-decoration: none; }
            body .content aside ul li a:hover {
              color: #A8237F;
              text-decoration: underline; }
    body .content h2 {
      font-weight: normal;
      font-size: 16px; }
    body .content em {
      font-size: 14px; }
    body .content p {
      font-size: 12px; }
    body .content .blockMsj {
      display: block;
      position: relative;
      background: url(/img/letter.png) no-repeat left center;
      width: 18px;
      height: 18px;
      margin: 10px 0; }
    body .content .dest-head {
      font-style: normal;
      display: block;
      font-weight: lighter;
      line-height: 16px; }
    body .content .light-separated {
      line-height: 16px; }
    body .content .sub-title {
      font-size: 14px; }
      body .content .sub-title.light {
        font-size: 12px;
        font-weight: lighter;
        font-style: normal; }
    body .content .table-less {
      font-size: 12px;
      width: 100%;
      border-collapse: collapse;
      text-align: center;
      color: #676767; }
      body .content .table-less th {
        vertical-align: bottom;
        font-weight: lighter;
        border-bottom: 2px dotted #CBCDC8;
        padding: 0 5px;
        min-width: 20px; }
        body .content .table-less th.border-rl {
          border-top: 2px dotted #CBCDC8;
          font-size: 10px;
          width: 180px;
          line-height: 14px;
          font-weight: bold; }
          body .content .table-less th.border-rl p {
            margin: 0; }
      body .content .table-less td {
        padding: 3px  5px;
        line-height: 15px; }
      body .content .table-less .left {
        text-align: left; }
      body .content .table-less .border-rl {
        border-left: 2px dotted #CBCDC8;
        border-right: 2px dotted #CBCDC8; }
      body .content .table-less .border-lf {
        border-right: 2px dotted #CBCDC8; }
      body .content .table-less .more-width {
        width: 200px; }
      body .content .table-less .circle {
        width: 12px;
        height: 12px;
        display: inline-block;
        position: relative;
        background: #CBD2CA;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        margin: 0 7px; }
        body .content .table-less .circle.active {
          background: #8CBA4E; }
        body .content .table-less .circle.disable {
          background: #FE0002; }
      body .content .table-less .circle-title {
        margin: 0 5px; }
      body .content .table-less .view-t {
        display: inline-block;
        width: 14px;
        height: 14px;
        background: url(/img/search.png) no-repeat center; }
      body .content .table-less .msj {
        display: inline-block;
        width: 19px;
        height: 14px;
        background: url(/img/letter.png) no-repeat left bottom; }
        body .content .table-less .msj.view {
          height: 18px;
          width: 22px;
          margin-left: 3px;
          background: url(/img/letter.png) no-repeat right bottom; }
      body .content .table-less .border-tr {
        border-bottom: 1px solid #C9CEC7; }
      body .content .table-less .back-col {
        background: #DDE5DA; }
      body .content .table-less .status {
        display: inline-block;
        position: relative; }
        body .content .table-less .status.ok {
          background: url(/img/status.png) no-repeat left top;
          width: 15px;
          height: 15px; }
        body .content .table-less .status.error {
          background: url(/img/status.png) no-repeat right top;
          width: 11px;
          height: 11px; }
      body .content .table-less.normal {
        font-weight: lighter; }
    body .content .new-step {
      padding: 10px 0 18px 40px;
      border-bottom: 2px dotted #CACCC7;
      position: relative; }
      body .content .new-step .sub-step {
        padding: 10px 0 10px 0;
        border-bottom: 2px dotted #CACCC7; }
        body .content .new-step .sub-step .colTwo {
          padding: 0 400px 0 0;
          position: relative;
          min-height: 36px; }
          body .content .new-step .sub-step .colTwo .formElem {
            position: absolute;
            right: 0;
            top: 0; }
            body .content .new-step .sub-step .colTwo .formElem.txtarea {
              height: 100%;
              width: 380px;
              resize: none;
              background: #EDEFEA;
              border: 1px solid #DFE1DC; }
            body .content .new-step .sub-step .colTwo .formElem.input {
              height: 34px;
              width: 380px;
              background: #EDEFEA;
              border: 1px solid #DFE1DC; }
            body .content .new-step .sub-step .colTwo .formElem.select {
              height: 20px;
              width: 110px;
              right: 268px;
              background: #DDE5DA;
              border: none; }
            body .content .new-step .sub-step .colTwo .formElem .fileUpload {
              width: 150px;
              position: relative;
              overflow: hidden;
              background: #A6A8A3;
              color: #FFF;
              text-align: center;
              font-size: 14px;
              padding: 5px 10px;
              display: inline-block;
              vertical-align: middle; }
              body .content .new-step .sub-step .colTwo .formElem .fileUpload .upload {
                position: absolute;
                position: absolute;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                font-size: 20px;
                cursor: pointer;
                opacity: 0;
                filter: alpha(opacity=0);
                width: 100%;
                height: 100%; }
            body .content .new-step .sub-step .colTwo .formElem .file-show {
              background: url(/img/ok.png) no-repeat left;
              display: inline-block;
              padding: 0 0 0 18px;
              margin: 0 0 0 5px;
              font-size: 14px;
              font-weight: normal;
              width: 180px; }
          body .content .new-step .sub-step .colTwo > p {
            margin-bottom: 0; }
        body .content .new-step .sub-step .img-sub-step {
          vertical-align: middle; }
        body .content .new-step .sub-step .arrowBot {
          display: inline-block;
          background: url(/img/arrow-bot.png) no-repeat center;
          width: 7px;
          height: 5px;
          vertical-align: text-bottom;
          margin: 0 12px; }
        body .content .new-step .sub-step .title-sub-step {
          font-style: normal;
          padding: 5px;
          background: #DDE5DA;
          font-size: 15px;
          vertical-align: sub; }
      body .content .new-step.sub {
        padding: 26px 0 26px 40px;
        border-bottom: none; }
      body .content .new-step.borderImportant {
        border-bottom: 4px dotted #7A7C77; }
      body .content .new-step .searchRbd {
        padding: 0 0 0 100px; }
        body .content .new-step .searchRbd .title-rbd {
          margin: 0 0 15px 0; }
          body .content .new-step .searchRbd .title-rbd b {
            font-size: 12px; }
          body .content .new-step .searchRbd .title-rbd input[type="text"] {
            background: #DDE5DA;
            border: none;
            font-size: 18px;
            width: 62px;
            padding: 5px 10px;
            margin: 0 10px;
            color: #848484; }
          body .content .new-step .searchRbd .title-rbd .search {
            display: inline-block;
            background: url(/img/search.png) no-repeat center;
            width: 14px;
            height: 14px; }
        body .content .new-step .searchRbd.padding-right {
          padding: 0 100px 0 50px; }
      body .content .new-step h4 {
        font-size: 16px;
        font-weight: bold;
        position: relative;
        margin-top: 0; }
      body .content .new-step h5 {
        font-size: 12px;
        margin: 0; }
      body .content .new-step p {
        margin: 0 0 15px 0;
        color: #878984; }
      body .content .new-step .user {
        display: block;
        padding: 25px 0 10px;
        width: 100%;
        text-align: center; }
        body .content .new-step .user a {
          text-decoration: none;
          color: #676767;
          font-size: 14px; }
          body .content .new-step .user a:hover {
            color: #A8227E; }
          body .content .new-step .user a span {
            display: inline-block;
            width: 32px;
            height: 27px;
            margin: 0 5px 0 0;
            vertical-align: text-bottom; }
          body .content .new-step .user a .add {
            background: url(/img/add-user.png) no-repeat right; }
          body .content .new-step .user a .remove {
            background: url(/img/add-user.png) no-repeat left; }
      body .content .new-step .step-mark {
        color: #B4B4B6;
        font-size: 20px;
        position: absolute;
        left: -45px;
        top: -3px; }
        body .content .new-step .step-mark b {
          color: #676769; }
        body .content .new-step .step-mark.last-mark {
          position: relative;
          left: inherit; }
      body .content .new-step .cite {
        font-size: 12px; }
      body .content .new-step .button {
        display: inline-block;
        background: #A6A8A3;
        padding: 5px 10px;
        text-decoration: none;
        color: #FFF;
        font-size: 14px;
        margin: 0 16px; }
        body .content .new-step .button.green {
          background: #82BD2D; }
        body .content .new-step .button.purple {
          background: #90277B; }
        body .content .new-step .button.btable {
          margin-left: 82px; }
      body .content .new-step .back, body .content .new-step .goTop {
        text-decoration: none;
        color: #A5A5A5; }
        body .content .new-step .back.margin, body .content .new-step .goTop.margin {
          margin: 0 50px; }
      body .content .new-step .table-list {
        font-size: 12px;
        color: #878984;
        width: 400px;
        margin: 0 0 15px 0; }
        body .content .new-step .table-list.expand {
          width: 520px; }
        body .content .new-step .table-list.bording {
          border-collapse: collapse;
          border-top: 2px dotted #CBCDC8; }
          body .content .new-step .table-list.bording tr {
            border-bottom: 1px solid #CBCDC8; }
            body .content .new-step .table-list.bording tr td {
              padding: 3px 0; }
              body .content .new-step .table-list.bording tr td:first-child {
                border-right: 2px dotted #CBCDC8; }
              body .content .new-step .table-list.bording tr td:last-child {
                padding-left: 10px; }
        body .content .new-step .table-list th {
          font-size: 14px;
          color: #888886;
          text-align: left; }
          body .content .new-step .table-list th.more-font {
            font-size: 22px; }
        body .content .new-step .table-list .b-font {
          color: #676769;
          font-weight: bold; }
  body footer {
    font-family: 'BioRhyme', serif;
    padding: 10px 20px;
    position: absolute;
    bottom: 0;
    height: 85px;
    width: 100%;
    max-width: 882px; }
    body footer .get-document {
      top: 30px;
      font-size: 16px;
      position: relative;
      color: #676767;
      text-decoration: none; }
      body footer .get-document .pdf {
        display: inline-block;
        height: 26px;
        width: 26px;
        background: url(/img/pdf.png) no-repeat center;
        position: relative;
        vertical-align: bottom;
        margin-right: 5px; }
      body footer .get-document:hover {
        color: #A8227E; }
    body footer .info-footer {
      display: inline-block;
      position: relative;
      float: right;
      top: 10px; }
      body footer .info-footer ul {
        display: inline-block;
        font-weight: lighter;
        font-size: 12px;
        color: #757678;
        line-height: 14px;
        text-align: right; }
        body footer .info-footer ul li a {
          color: #757678;
          text-decoration: none; }
          body footer .info-footer ul li a:hover {
            color: #A8227E;
            text-decoration: underline; }
      body footer .info-footer img {
        vertical-align: super;
        margin-left: 10px; }

/*# sourceMappingURL=style.css.map */
